<div class="city-card"
     itemprop="blogPosts"
     itemscope=""
     itemtype="http://schema.org/BlogPosting">
  <div class="city-background"  style="background-image: url({{ site.baseurl }}/assets/img/cards/MILAN_complete_logo.jpg)">
  </div>
  <a href="{{ site.baseurl }}/welcome/">
    <h1 style="color: #2e6da3;">ISMIR2023 will be hosted in Milan</h1>
    <div class="description">
      <p> ISMIR 2023 welcomes contributions in music computational analysis, processing, generation, algorithms, and their evaluation. ISMIR conferences forster discussion and exchange of ideas on new topics, emerging problems, inclusion and diversity.</p>
    </div>
  </a>
</div>
