<div class="event-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  <!--<div class="post-card__inner" href="/ISMIR2020/program">-->
  <div class="post-card__inner" href="">
    <div>
      <h3>Deadlines</h3>
      <table>
        <tbody>
          <tr><td><a href="{{ site.baseurl }}/cfp/">Call for Papers</a></td>
            <td>Submission opening</td><td><s>March 2023</s></td></tr>
          <tr><td></td><td>Abstract submission</td><td><s>April 6, 2023</s></td></tr>
          <tr><td></td><td>Final submission</td><td><s>April 14, 2023</s></td></tr>
          <tr><td></td><td>Notification of acceptance</td><td><s>June 23, 2023</s></td></tr>
          <tr><td></td><td>Camera-ready</td><td><s>July 10, 2023</s></td></tr>
          <tr><td><a href="{{ site.baseurl }}/cfm/">Music submissions</a></td>
            <td>Submission opening</td><td><s>July 2023</s></td></tr>
          <tr><td></td><td>Submission</td><td><s>July 31, 2023</s></td></tr>
          <tr><td></td><td>Notification of acceptance</td><td><s>August 15, 2023</s></td></tr>
          <tr><td></td><td>Final version submission</td><td>October 31, 2023</td></tr>
          <tr><td><a href="{{ site.baseurl }}/registration/">Registration</a></td>
            <td>Author registration</td><td>July 10 - September 7, 2023</td></tr>
          <tr><td></td><td>Early Bird Registration</td><td>July 10 - September 7, 2023</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
