<header class="header" style="background-color: #fff" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  
  <div class="container header-container" style="height: 80px;">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/img/logos/MILAN_logotype.png"/>
      </a>

<!-- 
     <nav class="header__links" style="background-color: #fff">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
 -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
          {% for item in site.navigation %}
          {% if item.subitems %}
          <li class="nav-item dropdown">
              <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                 data-bs-toggle="dropdown" href="#" id="navbarDropdownMenuLink">
                  {{ item.name }}
              </a>

              <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                  {% for subitem in item.subitems %}
                  <a class="dropdown-item" href="{{ subitem.link }}">{{ subitem.name }}</a>
                  {% endfor %}
              </div>
          </li>

          {% else %}
          <li class="nav-item">
              <a class="nav-link" href=" {{ item.link }}"> {{ item.name }}</a>
          </li>
          {% endif %}
          {% endfor %}
      </ul>
  </div>
      
      
    </div>
  </div>
</header>
