<div class="sponsors-card" style="background-color: {{ include.background_color }}; margin-top: {{ include.margin_top }};"
>
  <div class="post-card__inner"
  {% if include.padding %}
    style="padding: {{ include.padding }}"
  {% endif %}
  >
    <h3 class="platinum title">Platinum Sponsors</h3>
  
    <div class="platinum-wrapper">
      <a href="https://moises.ai/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/moises.png" width="500" height="600" /> 
      </a>
    </div>
    <!-- 
    <div class="platinum-wrapper">
      <a href="https://csl.sony.fr/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/SonySonyCSL.png">
      </a>
    </div> 
    -->
    <hr>
<h3 class="gold title">Gold Sponsors</h3>

<div class="gold-wrapper">
  <a href="https://www.yamaha.com/en/">
    <img src="{{ site.baseurl }}/assets/img/sponsors/yamaha_logo_yamaha violet_640.png"/>
    </a>
</div>
    
<div class="gold-wrapper">
  <a href="https://www.musixmatch.com/it">
    <img src="{{ site.baseurl }}/assets/img/sponsors/Musixmatch_Logo_horizontal_Positive.png"/>
  </a>
</div>
    
<div class="gold-wrapper">
  <a href="https://www.algoriddim.com/">
    <img src="{{ site.baseurl }}/assets/img/sponsors/algoriddim - on light.png"/>
  </a>
</div>
    
<!--deezer-->
<div class="gold-wrapper">
  <a href="">
    <img src="{{ site.baseurl }}/assets/img/sponsors/Colored_Full_Black@2x.png"/>
  </a>
</div>
    
<!--adobe-->
<div class="gold-wrapper">
  <a href="">
    <img src="{{ site.baseurl }}/assets/img/sponsors/Melissa_Wong_Adobe_Corporate_Horizontal_Lockup_Red_CMYK.ai"/>
  </a>
</div>

    <!--adobe-->
<div class="gold-wrapper">
  <a href="">
    <img src="{{ site.baseurl }}/assets/img/sponsors/2022 Google Research Logo.eps"/>
  </a>
</div>
    

    
    <hr>
    <h3 class="silver title">Silver Sponsors</h3>
    
    <div class="silver-wrapper">
      <a href="https://www.acrcloud.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/ACRCloud-logo.png"/> 
      </a>
    </div>

    <div class="silver-wrapper">
      <a href="https://www.steinberg.net/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Steinberg_Trademark_2020_RGB_1000px.png"/>
      </a>
    </div>

    <div class="silver-wrapper">
      <a href="">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Native-Instruments-horizontal-logo-black.png"/>
      </a>
    </div>
 
    <!--
    <hr>
    <h3 class="bronze title">Bronze Sponsors</h3>
    <
    <div class="bronze-wrapper">
      <a href="https://cochlear.ai/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Cochlear.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://www.acrcloud.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/ACRCloud.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://www.musiio.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Musiio.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://research.google/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Google.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://www.musixmatch.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Musixmatch.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://jobs.jobvite.com/siriusxm/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/SiriusxmPandora.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://yousician.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Yousician.png">
      </a>
    </div>
    -->
  </div>
</div>
