<div class="sponsors-card" style="background-color: {{ include.background_color }}; margin-top: {{ include.margin_top }};"
>
  <div class="post-card__inner"
  {% if include.padding %}
    style="padding: {{ include.padding }}"
  {% endif %}
  >
    <h3 class="platinum title">Platinum Sponsors</h3>
    <hr>
    <h3 class="gold title">Gold Sponsors</h3>
    <div class="gold-wrapper">
      <a href="https://www.yamaha.com/en/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/yamaha_logo_yamaha violet_640.png"/>
      </a>
    </div>
    <hr>
    <h3 class="silver title">Silver Sponsors</h3>
    <hr>
    <h3 class="bronze title">Bronze Sponsors</h3>
    
  </div>
</div>
